<!DOCTYPE html>
<html>
<head>
    <title>Toy Categories</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<h1>Welcome to Happy Kids Toy Shop</h1>

<div class="container">

    {{range .}}

    <div class="card">

        <img src="{{.Image}}" width="200">

        <h2>{{.Name}}</h2>

        <a href="/toys?category={{.Name}}">
            <button style="padding:10px 15px; cursor:pointer;">
                View Products
            </button>
        </a>

    </div>

    {{end}}

</div>

</body>
</html>